{% extends "base.html" %}
{% block body_class %}game{% endblock %}
{% block content %}
<div id="page" class="game">
    <div class="panel header">
        <time class="timer" datetime="x">01:32</time>
        <div class="stake">
            <small>Stake</small>
            50 mBTC
        </div>
        <div class="potential">
            <small>Potential winnings</small>
            425 mBTC
        </div>
    </div>
    <div class="panel-container">
        <div class="panel players">
            <ul class="players">
                <li>
                    <h3>Tarquin</h3>
                    <img src="http://i.imgur.com/n0yfX0Bb.jpg" />
                    <div class="votes">xx</div>
                    <div class="hidden">
                        <div class="message">This message should be under 160 chars and can include links. :D</div>
                        <div class="giveback">90% giveback</div>
                        <div class="ratings">
                            <div class="credibility">Credibility: 50%</div>
                            <div class="longevity">Longevity: 6 games</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>tyca</h3>
                    <img src="http://i.imgur.com/TulRgpyb.jpg" />
                    <div class="votes">x</div>
                    <div class="hidden">
                        <div class="message">This message should be under 160 chars and can include links. :D</div>
                        <div class="giveback">90% giveback</div>
                        <div class="ratings">
                            <div class="credibility">Credibility: 50%</div>
                            <div class="longevity">Longevity: 6 games</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>FFFFF</h3>
                    <img src="http://i.imgur.com/nTG4nOpb.jpg" />
                    <div class="votes">x</div>
                    <div class="hidden">
                        <div class="message">This message should be under 160 chars and can include links. :D</div>
                        <div class="giveback">90% giveback</div>
                        <div class="ratings">
                            <div class="credibility">Credibility: 50%</div>
                            <div class="longevity">Longevity: 6 games</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>Mr. Big</h3>
                    <img src="http://i.imgur.com/ffZTcvpb.jpg" />
                    <div class="votes">xx</div>
                    <div class="hidden">
                        <div class="message">This message should be under 160 chars and can include links. :D</div>
                        <div class="giveback">90% giveback</div>
                        <div class="ratings">
                            <div class="credibility">Credibility: 50%</div>
                            <div class="longevity">Longevity: 6 games</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>johnny</h3>
                    <img src="http://i.imgur.com/nY8XQsBb.jpg" />
                    <div class="votes"></div>
                    <div class="hidden">
                        <div class="message">This message should be under 160 chars and can include links. :D</div>
                        <div class="giveback">90% giveback</div>
                        <div class="ratings">
                            <div class="credibility">Credibility: 50%</div>
                            <div class="longevity">Longevity: 6 games</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>ILICKICE42</h3>
                    <img src="http://i.imgur.com/XMOMUgyb.jpg" />
                    <div class="votes"></div>
                    <div class="hidden">
                        <div class="message">This message should be under 160 chars and can include links. :D</div>
                        <div class="giveback">90% giveback</div>
                        <div class="ratings">
                            <div class="credibility">Credibility: 50%</div>
                            <div class="longevity">Longevity: 6 games</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>STEAL_THE_HUMAN_LEGS</h3>
                    <img src="http://i.imgur.com/ImeyKBcb.jpg" />
                    <div class="votes">x</div>
                    <div class="hidden">
                        <div class="message">This message should be under 160 chars and can include links. :D</div>
                        <div class="giveback">90% giveback</div>
                        <div class="ratings">
                            <div class="credibility">Credibility: 50%</div>
                            <div class="longevity">Longevity: 6 games</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>Wintershit</h3>
                    <img src="http://i.imgur.com/iFGC9FUb.jpg" />
                    <div class="votes"></div>
                    <div class="hidden">
                        <div class="message">This message should be under 160 chars and can include links. :D</div>
                        <div class="giveback">90% giveback</div>
                        <div class="ratings">
                            <div class="credibility">Credibility: 50%</div>
                            <div class="longevity">Longevity: 6 games</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>LordSirAcornsbury</h3>
                    <img src="http://i.imgur.com/iYhM5BFb.jpg" />
                    <div class="votes">xx</div>
                    <div class="hidden">
                        <div class="message">This message should be under 160 chars and can include links. :D</div>
                        <div class="giveback">90% giveback</div>
                        <div class="ratings">
                            <div class="credibility">Credibility: 50%</div>
                            <div class="longevity">Longevity: 6 games</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>natalie portmustache</h3>
                    <img src="http://i.imgur.com/mvHPT4eb.jpg" />
                    <div class="votes">xxx</div>
                    <div class="hidden">
                        <div class="message">This message should be under 160 chars and can include links. :D</div>
                        <div class="giveback">90% giveback</div>
                        <div class="ratings">
                            <div class="credibility">Credibility: 50%</div>
                            <div class="longevity">Longevity: 6 games</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel chat">
            <ul>
                <li><time>16:08</time> acornsbury is a treacherous two-faced bastard-squirrel. don't vote for him</li>
                <li><time>16:09</time> definitely. Natalie Portmustache seems like a safe bet</li>
                <li><time>16:09</time> you fools...</li>
            </ul>
            <textarea class="chatbox"></textarea>
        </div>
    </div>
</div>
{% endblock %}
